.main-content{
    display: grid;
    grid-template-columns: 300px 700px;
    height: 1000px;
    background-color: #f7f7f7;
    border: 20px solid rgb(190, 78, 78);

    @media screen and (min-width: 674px) {
        grid-template-columns: repeat(1 1fr);
    }

}
.left-section{
    width: 300px;
    height: auto;
    background-color: black;
}
.right-section{
    width: auto;
    height: auto;
    background-color:aquamarine;
}
.left-content{
    padding: 1rem;
}
/* .profile-details{
    display: grid;
    grid-template-rows: 
} */
.profile-image{
    padding: 1rem;
    display: block;
    margin: auto;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
}
/* img{
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
    padding: 40px;
    padding-left: 60px;
} */
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
    color: white;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    color: white;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    color: white;
}
.contact-item{
    display: grid;
    grid-template-rows: auto auto ;
}
.social-media{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.personal-details{
    display: grid;
    grid-template-rows: auto auto auto ;
}
.skill-title{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: center;
    padding-bottom: 0.5rem;
}
.progress-bar{
    border: 1px solid white;
    height: 4px;
}
.right-main-content{
    padding: 2rem (32px) 3rem (48px);
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}