body {
    font-size: 20px;
    margin-left: 2rem;
}

#btn {
    background-color: #009B77;
    font-size: 18px;
    padding: 5px;
}

.question {
    background-color: #7FCDCD;
}

@media screen and(max-width:600px) {
    body {
        background-color: yellow;
    }
}